body{
    background-color: forestgreen;
    color: white;
    text-align: center;
}

ul{
    color: darkmagenta;
    font-weight: bold;
    text-align: left;
    font-size: x-large;
}

.home-image {
    width: 250px;
    border: 2px solid black;
}

.footer{
position:fixed;
bottom:0;
text-align: center;
width: 100%;
font-size: x-large;
}

